button {
    font-size: 30px;
    color: white;
    width: 100px;
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    border-color: darkgrey;
    border-width: 5px;
}

.counterButton {
    background-color: darkorange;
    border-width: 5px;
}

.resetButton {
    background-color: darkviolet;
    width: 200px;
}

.count {
    font-size: 150px;
    padding: 20px;
}

.totalCount {
    color: darkblue;
}